$riseup_light_red: #f95f6a;
$riseup_light_blue: #4a90e2;
$riseup_light_green: #3adf9f;
$riseup_shadow_gray: #babcbf;
$riseup_gray: #2b323b;
$riseup_light_gray: #9b9b9b;
$riseup_shadow_blue: #2666b2;
$riseup_very_light_gray: #dddddd;
$riseup_mustard: #ffb953;
$riseup_success_green: #3deb99;
$riseup_white: #ffffff;
